<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.nombre %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.raza %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.fecha_nacimiento %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
